._-7Xe-49W {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:var(--spacing-2xl);
    text-align:center;
    flex:1;
    gap:16px
}
._07qFtRu2 {
    font-size:48px;
    line-height:1
}
._6EaeVaVY {
    font-size:1.5rem;
    font-weight:600;
    color:var(--text-primary)
}
.WfOJ2SDV {
    font-size:1rem;
    color:var(--text-secondary);
    max-width:400px
}