.Eg9M {
    display:flex;
    align-items:center;
    flex:1;
    position:relative;
    z-index:10
}
.ricR {
    width:28px;
    height:28px;
    padding:0;
    margin:6px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#fff;
    color:#000;
    border-radius:50%;
    flex-shrink:0;
    transition:transform .3s cubic-bezier(.4,0,.2,1),margin .3s cubic-bezier(.4,0,.2,1),opacity .3s cubic-bezier(.4,0,.2,1)
}
.ricR:hover {
    opacity:.8
}
.k427 {
    margin-left:-40px;
    transform:translate(-40px);
    opacity:0
}
.XtoB .k427 {
    margin-left:6px;
    transform:translate(0);
    opacity:1
}
.unJi {
    margin-right:-40px;
    transform:translate(40px);
    opacity:0
}
.xEB0 .unJi {
    margin-right:6px;
    transform:translate(0);
    opacity:1
}
.SzJ8 {
    margin-right:-40px;
    transform:translate(40px);
    opacity:0;
    font-size:14px;
    font-weight:500;
    border:none
}
.XtoB .SzJ8 {
    margin-right:6px;
    transform:translate(0);
    opacity:1
}
.k5Gh {
    margin-right:-40px;
    transform:translate(40px);
    opacity:0
}
.k5Gh:disabled {
    opacity:.5;
    cursor:not-allowed
}
.XtoB .k5Gh,.xEB0 .k5Gh {
    margin-right:6px;
    transform:translate(0);
    opacity:1
}
.Uz0G {
    flex:1;
    display:flex;
    align-items:center;
    gap:12px;
    height:40px;
    min-width:0;
    transition:margin .3s cubic-bezier(.4,0,.2,1),opacity .3s cubic-bezier(.4,0,.2,1),transform .3s cubic-bezier(.4,0,.2,1)
}
.TsBp {
    flex:1;
    min-width:0;
    overflow:hidden;
    height:24px;
    display:flex;
    align-items:center;
    -webkit-user-select:none;
    user-select:none;
    opacity:0;
    transform:translate(-20px);
    animation:WVh3 .3s cubic-bezier(.4,0,.2,1) forwards
}
@keyframes WVh3 {
    to {
    opacity:1;
    transform:translate(0)
}

}
.v8nu {
    font-size:12px;
    font-weight:500;
    color:var(--text-primary);
    font-variant-numeric:tabular-nums;
    min-width:35px;
    opacity:0;
    transform:translate(20px);
    animation:oabT .3s cubic-bezier(.4,0,.2,1) .1s forwards
}
@keyframes oabT {
    to {
    opacity:1;
    transform:translate(0)
}

}
.EKCe .TsBp {
    animation:dCla .3s cubic-bezier(.4,0,.2,1) forwards
}
.EKCe .v8nu {
    animation:Vi5I .3s cubic-bezier(.4,0,.2,1) forwards
}
.EKCe .k427,.EKCe .unJi,.EKCe .k5Gh {
    opacity:0;
    transform:translate(20px)
}
@keyframes dCla {
    0% {
    opacity:1;
    transform:translate(0)
}
to {
    opacity:0;
    transform:translate(-20px)
}

}
@keyframes Vi5I {
    0% {
    opacity:1;
    transform:translate(0)
}
to {
    opacity:0;
    transform:translate(20px)
}

}