.F1wH {
    display:flex;
    min-height:100vh
}
.PZy3 {
    position:sticky;
    top:0;
    width:50%;
    height:100vh;
    overflow:hidden;
    display:flex;
    gap:16px;
    padding:0 16px;
    flex-shrink:0;
    pointer-events:none;
    -webkit-user-select:none;
    user-select:none
}
.PZy3 article footer button {
    pointer-events:auto
}
@media(max-width:1173px) {
    .PZy3 {
    display:none
}

}
.zWzQ {
    flex:1;
    min-width:0
}
.AsM4 {
    display:flex;
    flex-direction:column;
    will-change:transform
}
.bb9P {
    display:flex;
    flex-direction:column;
    gap:16px;
    padding-bottom:16px
}
.peXP {
    flex:1;
    min-width:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    padding:20px
}