.Wlki {
    display:flex;
    min-height:100vh
}
.TUXM {
    position:sticky;
    top:0;
    width:50%;
    height:100vh;
    overflow:hidden;
    display:flex;
    gap:16px;
    padding:0 16px;
    flex-shrink:0;
    pointer-events:none;
    -webkit-user-select:none;
    user-select:none
}
.TUXM article footer button {
    pointer-events:auto
}
@media(max-width:1173px) {
    .TUXM {
    display:none
}

}
.yaUg {
    flex:1;
    min-width:0
}
.kS2S {
    display:flex;
    flex-direction:column;
    will-change:transform
}
.DCvZ {
    display:flex;
    flex-direction:column;
    gap:16px;
    padding-bottom:16px
}
.u1I7 {
    flex:1;
    min-width:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    padding:20px
}