.mL4UIid8 .content {
    padding:0
}
.sQUEsdy- {
    width:700px;
    height:100vh;
    border-radius:36px;
    padding:24px;
    overflow-y:auto
}
@media(max-width:1173px) {
    .sQUEsdy- {
    width:100%;
    padding:16px;
    border-radius:0
}

}
.kK8dKNqj {
    font-size:20px;
    font-weight:600;
    margin:0 0 16px;
    color:var(--text-primary)
}